.section-7 {
  padding: 5rem 0;

  .section-7-container {
    width: 100%;
    max-width: 1290px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    h1 {
      text-align: center;
    }

    .black {
      color: #000000;
      font-size: 4rem;
    }

    .orange {
      color: #F0736F;
      font-size: 4rem;
    }

    .video-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 20px;

      .centered-video {
        width: 90vw;
        height: auto;
      }
    }

    .cards_container {
      margin-top: 5rem;
      width: 100%;
      max-width: 1290px;

      .cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        justify-content: space-between;

        .card {
          width: 100%;
          height: 200px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.4s ease;

            &:hover {
              transform: translateY(-5px);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .video-container {
    padding: 0;
  }

  .centered-video {
    width: 100%;
    height: auto;
  }

  .section-7-container {
    h1 {
      .black,
      .orange {
        font-size: 2.5rem;
        text-align: center;
      }
    }

    .cards_container .cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 600px) {
  .video-container {
    padding: 0;
  }

  .centered-video {
    width: 100%;
    height: auto;
  }

  .section-7-container {
    h1 {
      .black,
      .orange {
        font-size: 2rem;
        text-align: center;
      }
    }

    .cards_container .cards {
      grid-template-columns: 1fr;
    }
  }
}
