.ps-req {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ps-title {
    font-size: 3rem;
    font-weight: 700;
    color: #f0736f;
    text-align: center;
    padding: 2rem;
}

.ps-req-title {
    font-size: 2rem;
    font-weight: 500;
    color: #f0736f;
}

.ps-btn-text {
    background-color: #f0736f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.ps-btn-text:hover {
    background-color: #f7635d;
}

.hss-container {
    padding: 060px;
    margin: 0 auto;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal {
    max-height: 80%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.modal-content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 20px;
}

.close-btn {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #f0736f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
}

.close-btn:hover {
    background-color: #f7635d;
}

.confirmation-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    text-align: center;
}

.confirmation-message button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-top: 5px;
    cursor: pointer;
}

.confirmation-message button:hover {
    background-color: #c82333;
}

.post {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 20px;
}

.user_profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user_info {
    display: flex;
    align-items: center;
}

.status {
    font-weight: bold;
}

.hs-status_accepted {
    background-color: green;
    color: white;
    font-weight: 400;
}

.img-container {
    position: relative;
}

.hs-status_pending {
    background-color: rgb(255, 0, 0);
    color: white;
    font-weight: 400;
}

.post_img {
    width: 100%;
    margin-top: 10px;
}

.caption {
    margin-top: 10px;
}

.bold {
    font-weight: bold;
}

.delete-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
    /* Semi-transparent red background */
    color: red;
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 50%;
    /* Rounded background */
    padding: 5px;
    /* Padding to make the background larger */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    /* Fixed width */
    height: 35px;
    /* Fixed height */
}