/* Base styles for the nav */
.nav {
  width: 100%;
  /* min-width: 320px; */
  display: flex;
  padding: 2rem 2rem;
  background-color: #ffffff;
  position: relative;
}

/* Logo container */
.logo_container {
  display: flex !important;
  width: 20%;
}

.logo {
  color: black;
}

.linksWrapper {
  display: flex;
  width: 105%;
  transition: max-height 0.5s ease-in-out, visibility 0.5s ease-in-out;
  overflow: hidden;
}

.bars {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.cross {
  font-size: 1.5rem;
  cursor: pointer;
}

.userName {
  color: #f0736f;
  font-weight: 500;
}

.logo,
.logoOrange {
  font-size: 3.5rem;
  font-weight: 600;
}

.logoOrange {
  color: #f0736f;
}

.navContainer {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;
  margin: auto;
}

.navigationLinks {
  width: 100%;
  gap: 10px;
  display: flex;
  justify-content: center;
}

.ul {
  text-decoration: none;
  display: flex;
  gap: 3rem;
  list-style: none;
  align-items: center;
}

.ul li {
  position: relative;
  cursor: pointer;
}

/* .ul li::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #f06868;
  transition: width 0.5s ease;
}

.ul li:hover::before {
  width: 100%;
} */

.text {
  font-size: 1.3rem;
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.userSection {
  width: 20%;
}

.dropDown_container {
  position: relative;
}

.dropDown {
  position: absolute;
  top: 150%;
  right: 0;
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: rgb(212, 211, 211);
  z-index: 1000;
}

.drop {
  padding: 1rem;
}

.drop:hover {
  background-color: rgb(255, 255, 255);
}

.prof {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileIcon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
  object-fit: cover;
  margin-right: 10px;
}

.barsAndUser {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.authLinks {
  display: flex;
  gap: 1rem;
  margin-right: 1rem;
}

@media (max-width: 900px) {
  .bars {
    display: block;
  }

  .linksWrapper {
    max-height: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 999;
    /* background-color: rgba; */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 35%, rgba(255, 255, 255, 0) 100%);

    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .linksWrapper.showMenu {
    max-height: 1000px;
    visibility: visible;
  }


  .ul {
    display: flex;
    flex-direction: column;
    gap: .8rem;
  }

  li {
    padding: 1rem;
  }

  li:hover {
    color: red;
  }
}