footer {
  width: 100%;
  background-color: #f1f1f1;
  color: #000000;
  padding: 2rem;
}

.footer_container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding: 5rem 0;
  gap: 3rem;
}

.footer_wrapper {
  display: flex;
  width: 70%;
  justify-content: space-between;
  gap: 1rem;
}

.footer_col_1,
.footer_col_2,
.footer_col_3,
.footer_col_4 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 30%;
}

.footer_col_1 {
  text-align: justify;
}

.footer_col_1>p,
.footer_col_2>p {
  font-size: 15px;
  text-align: justify;
}

.footer_col_3 p {
  color: black;
}

.footer_col_2 h2 {
  text-align: left;
}

.footer_col_2 {
  text-align: center;
}

.footer_col_4 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.footer_col_4>p {
  text-align: center;
  font-size: 15px;
}

.logo_name,
.orange {
  font-size: 3rem;
}

.orange {
  color: #f0736f;
}

.logo {
  text-transform: capitalize;
  text-align: center;
}

.logo_slogan {
  font-weight: lighter;
}

.footer_bottom {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}

h2 {
  font-size: 2rem;
}

h2::after {
  content: "";
  display: flex;
  height: 3px;
  width: 20%;
  /* background-color: rgb(18, 18, 17); */
}

.footer_col_2 h2::after,
.footer_col_3 h2::after {
  width: 40%;
  /* background-color: rgb(14, 14, 13); */
  margin-top: 5px;
}

footer p {
  font-size: 1.3rem;
  line-height: 2rem;
}

/* Links */
a {
  color: rgb(232, 227, 227);
  text-decoration: none;
  font-size: 1.5rem;
}

.sign {
  color: black;
}

/* Form and button styles */
form {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  width: 100%;
}

input {
  padding: 1rem;
  border: none;
  outline: none;
}

.footer_button {
  padding: 1rem;
  cursor: pointer;
}

@media (max-width: 850px) {
  .footer_container {
    flex-direction: column;
    gap: 4rem;
  }

  .footer_col_1,
  .footer_wrapper {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .footer_container {
    flex-direction: column;
    gap: 4rem;
  }

  .footer_col_1,
  .footer_wrapper {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
  }

  .footer_col_4 {
    width: 40%;
    height: auto;
    border: 2px solid #f06868;
    align-items: center;
  }

  .footer_col_4>p {
    text-align: center;
    font-size: 16px;
  }

  a {
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
  }

  h2 {
    /* font-size: 1.5rem; */
  }

  form {
    flex-wrap: wrap;
    text-align: left;
  }
}