.pd-title {
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    color: #f0736f;
}

.main-container {
    padding: 0 10rem;
}

.pd-container-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.prod-desc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}

.pd-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background: transparent;
    padding: 1.3rem 1.5em;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 13px;
    z-index: 1;
    text-align: center;
    background-color: #000000;
    color: white;
    height: 50px;
}

.pd-cart:hover {
    background-color: #000000d6;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px 0;
}

.product {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    transition: box-shadow 0.3s ease
}

.product:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
}

.prod-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prod-img img {
    max-width: 100%;
}

.prod-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.prod-price {
    font-size: 18px;
    margin-bottom: 10px;
}

.btn {
    background-color: rgb(240, 115, 111);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(240, 115, 111);
}

/* Responsive Styling */

@media (max-width: 1200px) {
    .main-container {
        padding: 0 5rem;
    }
}

@media (max-width: 992px) {
    .main-container {
        padding: 0 3rem;
    }
}

@media (max-width: 768px) {
    .main-container {
        padding: 0 2rem;
    }

    .pd-title {
        font-size: 36px;
        line-height: 80px;
    }

    .pd-container-2 {
        /* flex-direction: column; */
    }

    .prod-desc {
        -webkit-line-clamp: 2;
    }

    .prod-img {
        justify-content: center;
    }

    .prod-img img {
        max-width: 80%;
        /* Adjusted max-width */
    }
}

@media (max-width: 576px) {
    .main-container {
        padding: 0 1rem;
    }

    .pd-title {
        font-size: 24px;
        line-height: 60px;
    }

    .pd-cart {
        font-size: 1.2rem;
        padding: 1rem 1.2em;
    }

    .prod-title {
        font-size: 16px;
    }

    .prod-price {
        font-size: 14px;
    }

    .btn {
        padding: 8px 16px;
        font-size: 1rem;
    }

    /* Decrease image size and center it */
    .prod-img {
        justify-content: center;
    }

    .prod-img img {
        max-width: 60%;
        /* Adjusted max-width */
    }
}